{% extends "home_page/base.html" %}

{% block content %}
	<!-- Full Page Image Header with Vertically Centered Content -->
	<header>
		<div >
		<div class="row h-100 align-items-center">
			<div>
				<h1 class="font-weight-light">About This Website</h1>
                <p class="lead">This is a community website for anyone to use just like the bulletin board at the mosque.  Acceptable posts are as follows:</p>
                <ul class="text-info">
                    <li>Job Postings</li>
                    <li>Real Estate</li>
                    <li>Seeking Roommates</li>
                    <li>etc</li>
                </ul>
			</div>
		</div>
		</div>
	</header>
{% endblock content %}
